:root {
  --primary: #6767d1;
  --primary-dark: #4040c5;
  --primary-darker: #3131a1;
  --primary-color: #fff;
  --secondary: #25257a;
  --border: #c5c5c5;
  --alt: #fff;
   --factor: 1.4;
  --logo-width: calc(120px * var(--factor));
  --logo-height: calc(48px * var(--factor));
  --logo-box: calc(32px * var(--factor));
  --logo-box-inner: calc(12px * var(--factor));
  --dark-blue: #25257a;
  --light-blue: #6767d1;
  --white: #ffffff;
  --font-size: calc(17.5px * var(--factor));
}

@font-face {
  font-family: 'TrongateFont';
  src: url('../fonts/space_age.ttf')  format('truetype');
}

body {
	font-family: "Inter", sans-serif;
	color: #111;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;
  background-color: #fefeff;
}

header {
	background-color: var(--secondary);
}

#header-lg {
	min-height: 85px;
	color: #eee;
	display: flex;
	align-items: center;
}

#header-sm {
	display: none;
}

.container-lg {
	max-width: 1342px;
}

.container-lg:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.container-lg:nth-child(2) aside {
  padding-top: 33px;
  padding-right: 12px;
  min-width: max-content;
  height: 100%;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  scrollbar-width: thin;
}

main {
	margin-left: 33px;
	min-height: 100%;
  padding-bottom: 90px;
  width: 100%;
}

aside ul {
  margin-top: 0;
}

aside li {
  font-size: .9em;
}

#chapter-nav > li {
  font-size: 1em;
  list-style-type: square;
}

footer {
	background-color: #000;
	min-height: 180px;
}

h1, h2, h3, h4 {
	color: var(--primary);
	font-weight: normal;
}

h1 {
  margin: 33px 0;
	font-size: 42px;
}

h2 {
  margin-top: 44px;
	font-size: 29px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 19px;
}

ul#chapter-nav a,
main a {
  text-decoration: none; /* Remove default underline */
  border-bottom: 1px solid var(--primary); /* Add a bottom border to simulate underline */
  padding-bottom: 0.05em;
}

ul#chapter-nav a:hover,
main a:hover {
  color: var(--primary-darker);
}

ul#chapter-nav li {
  list-style-type: disc;
  color: var(--primary-darker);
}

button, .button {
	transition: .3s;
  text-transform: uppercase;
}

.alert {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  margin: 2em auto 1em auto;
}

.alert>div {
  padding: 22px;
}

.alert-heading {
  font-family: Georgia, serif;
  background-color: #333;
  font-size: 21px;
  font-weight: bold;
  line-height: 1em;
  color: #eee;
  border-radius: 9px 9px 0 0;
}

.alert-body {
  border: 3px #333 solid;
  font-family: verdana;
  font-size: 14px;
  border-radius: 0 0 9px 9px;
}

.alert-info>div:nth-child(1) {
  background-color: var(--primary-darker);
}

.alert-info>div:nth-child(2) {
  border-color: var(--primary-darker);
  background-color: #3131a111;
}

.alert-success>div:nth-child(1) {
  background-color: #31a131;
}

.alert-success>div:nth-child(2) {
  border-color: #31a131;
  background-color: #31a13111;
}

.alert-warning>div:nth-child(1) {
  background-color: #c58340;
}

.alert-warning>div:nth-child(2) {
  border-color: #c58340;
  background-color: #c5834022;
}

.alert-danger>div:nth-child(1) {
  background-color: #c54040;
}

.alert-danger>div:nth-child(2) {
  border-color: #c54040;
  background-color: #c5404022;
}

img {
  border: 1px #333 solid;
  max-width: 90%;
  margin: 1em 0;
}

img, figure {
  box-shadow: 0 2px 4px rgba(0,0,0,.33);
}

figure p {
  max-width: 90%;
  margin: 0 auto 1em auto;
  font-family: 'Times New Roman', Times, serif;
}

pre {
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
    background-color: #333 !important;
    border-color: #6b6b6b !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #444444 !important;
    white-space: pre-wrap;
    padding: 1em 1em;
    border: 3px #6b6b6b solid;
}

code {
  line-height: 1.7em;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  max-width: 98%;
  margin: 0 auto;
}

pre, code {
    white-space: pre; /* This prevents the text from wrapping */
    overflow-x: auto; /* This adds a horizontal scrollbar if needed */
}

li > code,
p > code {
    background-color: #555 !important;
    border-color: #6b6b6b !important;
    color: #ffffff !important;
    padding: 3px 5px;
}

mark {
  color: #fff !important;
  background-color: #6767d1 !important;
}

figure {
    display: inline-block; /* Ensures the figure only takes up as much width as its content */
    max-width: 820px; /* Prevents the figure from exceeding the width of its containing element */
    margin: 1em auto; /* Optional: Centers the figure within its container if desired */
    transition: .3s;
    border: 1px #333 solid;
}

figure:hover {
    transform: scale(1.05); /* Slightly enlarges the figure on hover */
}

figcaption {
  border-top: 1px #333 solid;
  margin: 0;
  padding: 1em .4em;
  font-size: .7em;
  background-color: #6767d122;
  color: #000;
  text-align: left;
}

figure img {
  max-width: 96%;
  border: none;
}











.trongate-logo {
  width: var(--logo-width);
  height: var(--logo-height);
  text-align: center;
  /* border: .1px solid black; */
}

.trongate-logo:hover {
  cursor: pointer;
}

#logo-box-container {
  display: inline-flex;
  gap: var(--logo-box-inner);
}

.trongate-logo p {
  font-family: 'TrongateFont';
/* light */
  /* color: var(--dark-blue); */
/* dark */
  color: var(--white);
  font-size: var(--font-size);
  line-height: .9em;
  margin: 0;
  text-align: center;
  text-indent: -.55%;
  animation-name: logo-text-anim;
  animation-duration: 1.6s;
}

#logo-box1 {
  width: var(--logo-box);
  height: var(--logo-box);
  background-color: var(--light-blue);
  position: relative;
  animation-name: logo-box1-anim;
  animation-duration: 1.6s;
}

#logo-box2 {
  display: flex;
  align-items: center;
  width: var(--logo-box);
  height: var(--logo-box);
/* light */
  /* background-color: var(--light-blue); */
/* dark */
  background-color: var(--white);
  z-index: 1;
}

#logo-box2-inner {
  width: var(--logo-box-inner);
  height: var(--logo-box-inner);
  background-color: var(--dark-blue);
  margin: auto;
  position: relative;
  animation-name: logo-box2-inner-anim;
  animation-duration: 3.2s;
  transition: width 1s;
  transition: height 1s;
/* make the inner box move forever */
  /* animation-iteration-count: infinite; */
}

#logo-box3 {
  width: var(--logo-box);
  height: var(--logo-box);
  background-color: var(--light-blue);
  position: relative;
  animation-name: logo-box3-anim;
  animation-duration: 1.6s;
}


@keyframes logo-box1-anim {
  0% {background-color: var(--dark-blue); left:44px;}
  100% {background-color: var(--light-blue); left:0rem;}
}

@keyframes logo-box3-anim {
  0% {background-color: var(--dark-blue); left:-44px;}
  100% {background-color: var(--light-blue); left:0;}
}

@keyframes logo-box2-inner-anim {
  100% {transform: rotate(360deg);}
}

@keyframes logo-text-anim {
/* get rid of the font-size if you don't like the zoom in */
  0% {color: orange; font-size: 1px; ; opacity: 0;}
  40% {color: gold;}
  100% {color: var(--white); font-size: var(--font-size); opacity: 1;}
}

.card {
  background-color: #fff;
}

/* Breadcrumbs container styling */
.breadcrumbs {
    padding: 10px 15px;
    background: #f8f9fa;
    border-radius: 5px;
    margin-top: 20px; /* Space above the breadcrumbs */
    font-family: Arial, sans-serif; /* Ensures a clean, modern font is used */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Styling individual breadcrumb items */
.breadcrumbs a {
    color: #0275d8 !important; /* A nice blue that is commonly used for links */
    text-decoration: none; /* Removes underline from links */
    border: none;
    padding-bottom: 0.05em;
}

.breadcrumbs a:hover {
  text-decoration: none; /* Remove default underline */
  border-bottom: 1px solid #0275d8; /* Add a bottom border to simulate underline */
}

/* Styling the separator */
.breadcrumbs .separator {
    margin: 0 5px; /* Spacing around the separator */
    color: #6c757d; /* A soft grey that doesn't dominate the link colors */
}

/* Accessibility enhancements */
.breadcrumbs a:focus {
    outline: 2px solid #0275d8; /* Adds a blue outline to focused links for visibility */
    outline-offset: 2px; /* Ensures outline doesn't overlap text */
}

.breadcrumbs > span {
  margin: 0 7px;
}

.page-nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chapter-num {
  margin-top: 120px;
  font-weight: bold;
  text-align: center;
  font-size: 1.33em;
}

#ridiculously-huge {
  margin-top: 12px;
  text-align: center;
  font-size: 4em;
  margin-bottom: 45vh;
}

#temp-modal {
  max-width: 1000px !important;
}

.modal .framework-ref h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 33px;
}

.modal .framework-ref h2 {
  margin-top: 1.6em;
  font-size: 21px;
}

.modal .framework-ref .signature {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  padding: 10px;
  border-left: 5px solid #0056b3;
  text-align: left;
  font-weight: bold;
  color: #555;
}

.modal .framework-ref p {
  text-align: left;
  font-size: 14px;
}

.modal .framework-ref table {
  font-size: 14px;
}

.modal .framework-ref .param,
.modal .framework-ref .return {
  background-color: #e0e0e0;
  padding: 10px;
  margin: 10px 0;
  border-left: 3px solid #0056b3;
}

.modal .framework-ref .example {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.modal .framework-ref pre {
  background-color: #333;
  color: #fff;
  padding: 10px 7px 10px 7px;
  max-width: 100%;
  line-height: 1.4em;
  font-size: 15px;
}

.modal .framework-ref .note {
  font-style: italic;
}

.modal .framework-ref .link a {
  color: #007bff;
  text-decoration: none;
}

.toc-grid {
margin-top: 33px;
display: grid;
grid-template-columns: repeat(1fr);
grid-gap: 1em;
}
.toc-grid h4 {
margin-bottom: 0;
padding-bottom: 0;
}
.toc-grid h2 {
margin-top: 0;
padding-top: 0;
}
.toc-grid h3 {
  color: #111;
}
.toc-grid ul {
list-style-type: none;
font-size: 0.9em;
font-weight: bold;
}
.toc-grid li {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
border-bottom: 1px #111 dotted;
margin-bottom: 12px;
}
.toc-grid li a {
color: var(--primary);
border: none;
text-decoration: none;
}
.toc-grid li a:hover {
color: var(--primary-darker);
}
.toc-grid .card-heading {
background-color: var(--primary-darker);
}
.page-num {
font-weight: bold;
font-size: 0.8em;
}

.ref-sub-headline {
  list-style-type: none;
}

.ref-sub-headline:first-of-type {
  margin-top: 1em;
}

.feature-ref {
  font-weight: bold;
}

.feature-ref button {
  margin-top: 0;
  margin-left: 4px;
  padding: 0;
  line-height: 1.4em;
}

.feature-ref button.alt {
  color: var(--primary);
  background-color: transparent;
  border: none;
}

.feature-ref button:hover {
  color: var(--primary-darker);
  background-color: transparent;
}

.feature-ref button .fa {
  font-size: 1.4em;
}

#feature-ref-list li {
  margin-bottom: 1em;
}

.modal-body {
  max-height: 90vh;
  overflow: auto;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none; /* Start with button hidden */
    z-index: 1000; /* Make sure the button is above other content */
}

table.properties-table > tbody > tr > td,
.properties-table > tr > td:nth-child(1) {
    text-align: center !important;
}

table.properties-table > tbody > tr > td:nth-child(1),
table.properties-table > tbody > tr > td:nth-child(3) {
    text-align: left !important;
}

/* WebKit-based browsers */
.container-lg:nth-child(2) aside::-webkit-scrollbar {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
}

.container-lg:nth-child(2) aside::-webkit-scrollbar-thumb {
    background-color: var(--primary-darker); /* Color of the thumb */
}

/* Firefox */
.container-lg:nth-child(2) aside {
    scrollbar-color: var(--primary-darker) #f1f1f1; /* Color of the thumb and the track */
}

.zoom-in-modal {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.3s, transform 0.3s;
}

.active-nav-title {
  font-weight: bold;
}

.active-nav {
  font-weight: bold;
  color: #ff6600;
}

.api-ref-btn {
  margin-right: 10px;
}

.api-ref-btn:focus {
  outline: 2px solid #ff6600;
  outline-offset: 2px;
}

#feature-ref-list a:focus {
  outline: none;
}
