:root {
  --primary: #6767d1;
  --primary-dark: #4040c5;
  --primary-darker: #3131a1;
  --primary-color: #fff;
  --secondary: #25257a;
  --border: #c5c5c5;
  --alt: #fff;
   --factor: 1.4;
  --logo-width: calc(120px * var(--factor));
  --logo-height: calc(48px * var(--factor));
  --logo-box: calc(32px * var(--factor));
  --logo-box-inner: calc(12px * var(--factor));
  --dark-blue: #25257a;
  --light-blue: #6767d1;
  --white: #ffffff;
  --font-size: calc(17.5px * var(--factor));
}

@font-face {
  font-family: 'TrongateFont';
  src: url('../fonts/space_age.ttf')  format('truetype');
}

body {
	font-family: "Inter", sans-serif;
	color: #111;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;
  background-color: #fefeff;
}

header {
	background-color: var(--secondary);
}

#header-lg {
	min-height: 85px;
	color: #eee;
	display: flex;
	align-items: center;
}

#header-sm {
	display: none;
}

.container-lg {
	max-width: 1342px;
}

.container-lg:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.container-lg:nth-child(2) aside {
  padding-top: 33px;
	min-width: max-content;
	scrollbar-width: thin;
	display: flex;
	flex-grow: 1;
  overflow-y: scroll;
  padding-right: 12px;
}

main {
	margin-left: 33px;
	min-height: 100%;
  padding-bottom: 90px;
  width: 100%;
}

aside ul {
  margin-top: 0;
}

aside li {
  font-size: .9em;
}

#chapter-nav > li {
  font-size: 1em;
  list-style-type: square;
}

footer {
	background-color: #000;
	min-height: 180px;
}

h1, h2, h3, h4 {
	color: var(--primary);
	font-weight: normal;
}

h1 {
  margin: 33px 0;
	font-size: 42px;
}

h2 {
  margin-top: 44px;
	font-size: 29px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 19px;
}

button, .button {
	transition: .3s;
}

.alert {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    margin: 2em auto 1em auto;
}

.alert > div {
   padding: 12px;
   border-radius: 9px;
}

.alert > div:nth-child(1) {
    font-family: Georgia, serif;
    background-color: #333;
    font-size: 21px;
    font-weight: bold;
    line-height: 1em;
    color: #eee;
}

.alert > div:nth-child(2) {
    margin-top: 3px;
    border: 3px #333 solid;
    font-family: verdana;
    font-size: 14px;
}

.alert-info > div:nth-child(1) {
  background-color: var(--primary-darker);
}

.alert-info > div:nth-child(2) {
    border-color: var(--primary-darker);
    background-color: #3131a111;
}

.alert-success > div:nth-child(1) {
  background-color: #31a131;
}

.alert-success > div:nth-child(2) {
    border-color: #31a131;
    background-color: #31a13111;
}

.alert-warning > div:nth-child(1) {
  background-color: #c58340;
}

.alert-warning > div:nth-child(2) {
    border-color: #c58340;
    background-color: #c5834022;
}

.alert-danger > div:nth-child(1) {
  background-color: #c54040;
}

.alert-danger > div:nth-child(2) {
    border-color: #c54040;
    background-color: #c5404022;
}

img {
  border: 1px #333 solid;
  max-width: 90%;
  margin: 1em 0;
}

img, figure {
  box-shadow: 0 2px 4px rgba(0,0,0,.33);
}

pre {
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
    background-color: #333 !important;
    border-color: #6b6b6b !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #444444 !important;
    white-space: pre-wrap;
    padding: 1em 1em;
    border: 3px #6b6b6b solid;
}

code {
  line-height: 1.7em;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

mark {
  color: #fff !important;
  background-color: #6767d1 !important;
}

figure {
    display: inline-block; /* Ensures the figure only takes up as much width as its content */
    max-width: 820px; /* Prevents the figure from exceeding the width of its containing element */
    margin: 1em auto; /* Optional: Centers the figure within its container if desired */
    transition: .3s;
    border: 1px #333 solid;
}

figure:hover {
    transform: scale(1.05); /* Slightly enlarges the figure on hover */
}

figcaption {
  border-top: 1px #333 solid;
  margin: 0;
  padding: 1em .4em;
  font-size: .7em;
  background-color: #6767d122;
  color: #000;
  text-align: left;
}

figure img {
  max-width: 96%;
  border: none;
}











.trongate-logo {
  width: var(--logo-width);
  height: var(--logo-height);
  text-align: center;
  /* border: .1px solid black; */
}

.trongate-logo:hover {
  cursor: pointer;
}

#logo-box-container {
  display: inline-flex;
  gap: var(--logo-box-inner);
}

.trongate-logo p {
  font-family: 'TrongateFont';
/* light */
  /* color: var(--dark-blue); */
/* dark */
  color: var(--white);
  font-size: var(--font-size);
  line-height: .9em;
  margin: 0;
  text-align: center;
  text-indent: -.55%;
  animation-name: logo-text-anim;
  animation-duration: 1.6s;
}

#logo-box1 {
  width: var(--logo-box);
  height: var(--logo-box);
  background-color: var(--light-blue);
  position: relative;
  animation-name: logo-box1-anim;
  animation-duration: 1.6s;
}

#logo-box2 {
  display: flex;
  align-items: center;
  width: var(--logo-box);
  height: var(--logo-box);
/* light */
  /* background-color: var(--light-blue); */
/* dark */
  background-color: var(--white);
  z-index: 1;
}

#logo-box2-inner {
  width: var(--logo-box-inner);
  height: var(--logo-box-inner);
  background-color: var(--dark-blue);
  margin: auto;
  position: relative;
  animation-name: logo-box2-inner-anim;
  animation-duration: 3.2s;
  transition: width 1s;
  transition: height 1s;
/* make the inner box move forever */
  /* animation-iteration-count: infinite; */
}

#logo-box3 {
  width: var(--logo-box);
  height: var(--logo-box);
  background-color: var(--light-blue);
  position: relative;
  animation-name: logo-box3-anim;
  animation-duration: 1.6s;
}


@keyframes logo-box1-anim {
  0% {background-color: var(--dark-blue); left:44px;}
  100% {background-color: var(--light-blue); left:0rem;}
}

@keyframes logo-box3-anim {
  0% {background-color: var(--dark-blue); left:-44px;}
  100% {background-color: var(--light-blue); left:0;}
}

@keyframes logo-box2-inner-anim {
  100% {transform: rotate(360deg);}
}

@keyframes logo-text-anim {
/* get rid of the font-size if you don't like the zoom in */
  0% {color: orange; font-size: 1px; ; opacity: 0;}
  40% {color: gold;}
  100% {color: var(--white); font-size: var(--font-size); opacity: 1;}
}


.card {
  background-color: #fff;
}