body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 1em;
}

aside {
	min-height: 100vh;
	background-color: navy;
	color: #eee;
}

main {
	min-height: 100vh;
	padding: 33px;
}

footer {
	width: 100%;
	min-height: 120px;
	background-color: black;
	grid-column: span 2; /* Span across two columns */
}

section {
	max-width: 900px;
}

h1 {
	text-align: center;
}

img {
	border: 5px silver solid;
}

pre {
    white-space: nowrap;
    max-width: 100%;
    overflow: auto;
    background-color: #4d4d4d !important;
    border-color: #6b6b6b !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #444444 !important;
    white-space: pre-wrap;
    padding: 1em 1em;
}

.good-code {
	background-color: #248663 !important;
	color: #fff6ef !important;
}
