# Turn on URL rewriting
RewriteEngine On

# Check if mod_headers is enabled, to set Content Security Policy
<IfModule mod_headers.c>
    # Prevent the website content from being framed from any source
    Header set Content-Security-Policy "frame-ancestors 'none'"
</IfModule>

# Condition to ensure the file or directory is not actual file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests through index.php
RewriteRule ^ index.php [QSA,L]